@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');

*{
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: var(--bg-color);
}

:root{
    --bg-color: #1e1e1e;
    --bg-color-footer: #161616;
    --text-color: #ffff;
    --main-color: #f60808;
    --text-footer: #555;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: absolute;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}


.logo{
    display: flex;
}
.logo img{
    align-items: center;
    width: 70px;
}

.navegador {
    display: flex;
}

.navegador a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navegador a:hover{
    color: var(--main-color);
}

.login_register {
    display: flex;
    align-items: center;
    margin-right: -100px;
    cursor: pointer;
}

.login_register a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.login_register a:hover{
    color: var(--main-color);
}

.login_register li {
    display: flex;
    align-items: center;
}

.login_register ion-icon {
    color: var(--main-color);
    width: 20px;
    height: 20px;
}

.meio-conteudo {
    display: flex;
    position: absolute;
    height: 80px;
    margin-top: -28rem;
}

.meio-conteudo button {
    background-color: var(--main-color);
    color: var(--text-color);
    height: 40px;
    width: 90px;
    cursor: pointer;
    border: 10rem;
    border-radius: 5px;
}

.meio-conteudo button:hover {
    transition: all .60s ease;
    background-color: black;
    color: var(--main-color);
}

.meio-conteudo p{
    display: flex;
    margin-left: 300px;
    padding: 20px;
    color: var(--text-color);
}

.meio-conteudo button{
    margin-top: 60px;
    margin-left: -110px;
}

.meio-conteudo img {
    margin-left: -300px;
    margin-top: -200px;
    height: 645px;
}

#Contato{
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: var(--bg-color);
    padding: 3rem;
    margin-top: 58rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.meio-contato h3{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 18px;
    margin-bottom: 10px;
}

.meio-contato h5{
    background-color: var(--bg-color);
    font-size: 15.5px;
    font-weight: 400;
    color: var(--text-footer);
    transition: all .35s ease;
    margin-bottom: 6px;
}

.meio-contato li{
    background-color: var(--bg-color-);
    margin-bottom: 6px;
}

.meio-contato li a{
    color: var(--text-footer);
    font-weight: 400;
    transition: all .35s ease;
    margin-bottom: 6px;
    background-color: var(--bg-color);
}

.meio-contato li a:hover{
    color: var(--main-color);
}

.last-text{
    background-color: var(--bg-color-footer);
    font-weight: 500;
    margin-top: -20px;
    text-align: center;
    color: var(--text-footer);
}

.last-text span{
    color: var(--main-color);
}